#button-search-user{
  margin-top: 8px;
}

.ant-alert{
  margin-bottom: 15px;
}

#user-avatar{
  max-width: 4em;
  border-radius: 50%;
  border: 1px solid #ddd;
}

#user-col{
  padding: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ant-layout-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#user-row{
  flex: 1
}

.repo-inner-col{
  margin-bottom: 10px;
}

.ant-card-head-title{
  font-weight: 700;
  font-size: 0.9em;
}